.celebrity-equity-wrapper{
    min-width: 1590px;
}
.celebrity-equity-wrapper .group-list{
    max-width: 1590px;
    margin: 61px auto 0px;
    padding-top: 76px;
}
.celebrity-equity-wrapper .group-list .banner-item{
    height: 435px;
    width: 100%;
    background: url('../images/celebrity_Equity/Jack_Vanzet_HP3.png') no-repeat center /100% 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
}
.group-list .banner-item .banner-title{
    position: relative;
    height: 100%;
}
.group-list .banner-item .banner-title div{
    position: absolute;
    width: 100%;
    top: 136px;
    left: 50%;
    transform: translateX(-50%);
}
.group-list .banner-item .banner-title div h1,
.group-list .banner-item .banner-title div h2{
    font-weight: 400;
    font-size: 45px;
    font-family:'PingFang-SC-Regular';
    line-height: 43px;
    color: #ffffff;
}
.group-list .banner-item .banner-title div h2{
    font-size: 30px;
    line-height: 30px;
    margin-top: 48px;
}

/* 列表 */
.group-list .partners-list{
    margin-bottom: 78px;
}
.group-list .partners-list ul li{
    height: 122px;
    line-height: 122px;
    border: 1px solid rgba(211,211,211,1);
    margin-top: 30px;
    position: relative;
    transition: all .6s ease;
}
.group-list .partners-list ul li:hover{
    box-shadow: 0 0 10px 5px rgba(40, 43, 62 , 0.09);
}
.partners-list ul li .img-box{
    width: 188px;
    height: 100%;
    background-color: #D3D3D3;
    text-align: center;
    padding: 29px 0px;
    position: absolute;
    left: -1px;
}

.partners-list ul li .right-content{
    margin-left: 188px;
    padding: 22px 0px;
    overflow: hidden;
    height: 100%;
    padding-right: 35px;
    position: relative;
}
.partners-list ul li .right-content .item{
    float: left;
    width: 284px;
}
.partners-list .row .item{
    padding-left: 45px;
    border-right:1px solid rgba(211,211,211,1);
    height: 100%;
}
.partners-list .row .item span{
    display: block;
    font-weight:500;
    font-size: 13px;
    line-height: 12px;
    font-family:PingFang-SC-Medium;
    color: #282B3E;
    margin-top: 10px;
}
.partners-list .row .item i{
    display: block;
    font-weight:500;
    font-size:20px;
    line-height: 19px;
    font-family:PingFang-SC-Medium;
    color: #282B3E;
    margin-top: 22px;
}   
.partners-list .row .new-valuation i{
    color: #00A758;
}
.partners-list .row .referto-valuation i{
    color: #FF695A;
}
.partners-list .row .see-details {
    float: right;
    height: 38px;
    line-height: 38px;
    /* margin-top: 43px; */
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}
.partners-list .row .see-details a{
    display: block;
    width: 160px;
    height: 100%;
    font-size:14px;
    text-align: center;
    color: #282B3E;
    border:1px solid rgba(210,212,211,1);
    background-color: rgba(210,212,211,0.15);
    transition: all .6s ease;
}
.partners-list .row .see-details a:hover{
    border-color: #00A758;
    background-color: rgba(0,167,88,0.15);
    color: #00A758;
}