.home-main-wrapper{
    min-width: 1590px;
}
.home-main-wrapper .group-list{
    margin: 76px auto 0px;
    max-width: 1590px;
    padding-top: 61px;
}
.group-list .banner-item{
    height: 436px;
    width: 100%;
    text-align: center;
    background: url('../images/home/index_banner.jpg') no-repeat center /100% 100%;
}
.group-list .banner-item .banner-title{
    /* padding-top: 135px; */
    position: relative;
}
.group-list .banner-item .banner-title div{
    position: absolute;
    width: 100%;
    top: 136px;
    left: 50%;
    transform: translateX(-50%);
}
.group-list .banner-item .banner-title div h1,
.group-list .banner-item .banner-title div h2{
    font-weight: 100;
    font-size: 45px;
    font-family:'PingFang-SC-Regular';
    line-height: 45px;
    color: #ffffff;
}
.group-list .banner-item .banner-title div h2{
    font-size: 30px;
    line-height: 28px;
    margin-top: 48px;
}
.group-list .banner-item .banner-title div .start-btn{
    margin-top: 50px;
}
.group-list .banner-item .banner-title div .start-btn a{
    font-size: 20px;
    font-weight: 100;
    background: #282B3E;
    padding: 10px 32px;
    color: #FFFFFF;
    border: 1px solid #282B3E;
}

.group-list .article-title-item {
    text-align: center;
    padding-top: 87px;
}
.group-list .article-title-item h3,
.group-list .article-title-item h4{
    font-weight: 100;
    font-style: normal;
    font-size:45px;
    line-height: 45px;
    font-family:'PingFang-SC-Regular';
    line-height: 45px;
    color: #282B3E;
}
.group-list .article-title-item p{
    font-weight:normal;
    font-size: 20px;
    line-height: 20px;
    font-family:'PingFang-SC-Medium';
    color: #282B3E;
    margin-top: 46px;
    margin-bottom: 69px;
}


.group-list .platform-item{
    padding-top: 70px;
    overflow: hidden;
}
.platform-item ul li{
    float: left;
    width: 50%;
    text-align: center;
}
.platform-item ul li:nth-child(1),
.platform-item ul li:nth-child(3){
    padding-right: 36px;
    /* border-right: 1px solid #282B3E; */
}
.platform-item ul li:nth-child(2),
.platform-item ul li:nth-child(4){
    padding-left: 40px;
    border-left: 1px solid #282B3E;
}
.platform-item ul li:nth-child(4),
.platform-item ul li:nth-child(3){
    margin-top: 39px;
}

.platform-item ul li i{
    display: inline-block;
    transition: all 0.5s ease;
}
.platform-item ul li i:hover{
    transform: scale(1.3);
}
.platform-item ul li .save-up-icon{
    height: 82px;
    width: 74px;
    margin-bottom: 33px;
    background: url('../images/saveUp.png') no-repeat center / 100% 100%;
}
.platform-item ul li .stock-right-icon{
    height: 82px;
    width: 76px;
    margin-bottom: 33px;
    background: url('../images/stock_right.png') no-repeat center / 100% 100%;
}
.platform-item ul li .pay-icon{
    height: 77px;
    width: 97px;
    margin-bottom: 37px;
    background: url('../images/pay.png') no-repeat center / 100% 100%;
}
.platform-item ul li .up-to-standard-icon{
    height: 77px;
    width: 68px;
    margin-bottom: 37px;
    background: url('../images/up_to_standard.png') no-repeat center / 100% 100%;
}
.platform-item ul li p{
    font-size: 15px;
    line-height: 32px;
    color: #282B3E;
    padding-bottom: 39px;
}
.platform-item ul li span{
    display: block;
    font-size: 24px;
    line-height: 23px;
    font-family:PingFang-SC-Heavy;
    color: #282B3E;
    margin-bottom: 15px;
}

.group-list .news-item{
    margin-top: 77px;
}
.news-item .news-title{
    font-weight: 100;
    font-size: 45px;
    line-height: 45px;
    font-family:'PingFang-SC-Regular';
    color: #282B3E;
    text-align: center;
}
.news-item .news-select-or-list{
    margin-top: 55px;
    overflow: hidden;
    padding-bottom: 97px;
}
.news-select-or-list .select{
    position: relative;
    float: left;
    width: 643px;
    background-color: #fff;
}

.news-item .news-select-or-list .select p{
    height: 56px;
    width: 100%;
    line-height: 56px;
    padding-left: 18px;
    padding-right: 30px;
    font-size: 15px;
    font-family:'PingFang-SC-Medium';
    color: #00A758;
    cursor: pointer;
    border: 1px solid #D2D4D3;
}

.news-item .news-select-or-list .select .select-arrow{
    display: block;
    width: 13px;
    height: 8px;
    position: absolute;
    top: 24px;
    right: 30px;
    transform: rotate(0deg);
    background: url('../images/transfer_eq_inv/new/select_arrow.png') no-repeat center / 100% 100%;
    transition: transform .3s  ease-out;
}
.news-select-or-list .select .news-title-list{
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0;
    max-height: 0;
    transition: max-height .3s ease-out;
    border: 1px solid #D2D4D3;
    overflow: hidden;
    border-top: none;
}

.news-select-or-list .select .news-title-list li{
    height: 56px;
    line-height: 56px;
    padding-left: 18px;
    padding-right: 30px;
    cursor: pointer;
    color: #282B3E;
    transition: background .3s;
    border-bottom: 1px solid #D2D4D3;
}
.news-select-or-list .select .news-title-list li:last-child{
    border-bottom: none;
}
.news-select-or-list .select.open .news-title-list{
    max-height: 820px;
    transition: max-height .3s ease-in;
    transform-origin: 50% 0;
}
.news-select-or-list .select.open .select-arrow{
    transform: rotate(180deg);

}
.news-select-or-list .select.open::after{
    transform: rotate(134deg);
    transition: all .3s ease-in-out;
}

.news-select-or-list .select .news-title-list li:hover{
    background-color: rgba(45, 186, 105 , 1);
    color: #ffffff;
}
.news-select-or-list .news-info-list{
    width: 912px;
    float: right;
}
.news-select-or-list .news-info-list ul li{
    padding: 42px 30px 47px 37px;
    border: 1px solid #D2D4D3;
    position: relative;
    margin-top: 24px;
}
.news-select-or-list .news-info-list ul li:first-child{
    margin-top: 0px
}
.news-info-list ul li::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 11px;
    width: 100%;
    background-color: #00A758;
}
.news-info-list ul li span{
    display: block;
    font-size: 14px;
    line-height: 12px;
    font-family:'PingFang-SC-Medium';
    color: #666666;
}
.news-info-list ul li h6{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    font-family:'PingFang-SC-Heavy';
    color: #282B3E;
    margin-top: 22px;
    margin-bottom: 23px;
}
.news-info-list ul li p{
    font-size: 15px;
}
.news-info-list ul li  div{
    margin-top: 22px;
}
.news-info-list ul li  div a{
    display: inline-block;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 14px;
    font-family:'PingFang-SC-Medium';
    color: #FFFFFF;
    background-color: #282B3E;
    transition: all .5s ease;
    border: 1px solid transparent;
}
.news-info-list ul li  div a:hover{
    color: #282B3E;
    border-color: #282B3E;
    background-color: white;
}