.chart-mian-wrapper{

}
.main-view{
    max-width: 1590px;
    margin: 64px auto 88px;
    padding-top: 76px;
}

.chart-group{
    width: 1590px;
    height: 436px;
}
#myChart{
    height:  100%;
}






/* 买入卖出 */
.trade-center-group .buy-sell{
    max-width: 1590px;
    margin: 0 auto;
    padding-top: 60px;
    overflow: hidden;
}
.trade-center-group .buy-sell .item{
    float: left;
    width: 758px;
    background-color: #ffffff;
}
.trade-center-group .buy-sell .buy{
    float: right;
}
.trade-center-group .buy-sell .item .spec{
    font-size:30px;
    font-family:PingFang-SC-Bold;
    color:rgba(40,43,62,1);
    line-height:30px;
}
.buy-sell .item .trade-table dl{
    overflow: hidden;
}
.buy-sell .item .trade-table dl dd{
    font-weight:500;
    font-size: 16px;
    line-height: 15px;
    font-family:PingFang-SC-Medium;
    color: #282B3E;
    float: left;
}
.buy-sell .item .trade-table dl dd{
    width: 209px;
}
.buy-sell .item .trade-table dl .last{
    width: 131px;
    text-align: right;
    padding-right: 23px;
}
.buy-sell .item .trade-table .head{
    margin-top: 45px;
}
.buy-sell .item .trade-table .head dl dd{
    padding-bottom: 15px;
}
.buy-sell .item .trade-table .head dl dd:first-of-type{
    padding-left: 16px;
}
.buy-sell .item .trade-table .tbody{
    border-top: 1px solid rgba(228,228,228,0.8);
    border-bottom: 1px solid rgba(228,228,228,0.8);
}
.buy-sell .item .trade-table .tbody dl{
    position: relative;
    margin-top: 2px;
}
.buy-sell .item .trade-table .tbody dl:last-of-type{
    margin-bottom: 2px;
}
.buy-sell .item .trade-table .tbody dl dd{
    /* padding: 25px 0px; */
    height: 65px;
    line-height: 65px;
}
.buy-sell .item .trade-table .tbody dl dd:first-of-type{
    padding-left: 14px;
}
.buy-sell .item .trade-table .tbody dl dd.last{
    position: relative;
}
.buy-sell .item .trade-table .tbody dl .percent{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .6s ease;
    
}
.buy-sell .sell .trade-table .tbody dl .percent{
    background-color: rgba(255,105,90,0.08);
}
.buy-sell .buy .trade-table .tbody dl .percent{
    background-color: rgba(45,186,105,0.08);
}
.buy-sell .item .trade-table .tbody dl dd span,
.buy-sell .item .trade-table .tbody dl dd i,{
    color: #252525;
}
.buy-sell .item .trade-table .tbody dl dd:first-of-type span,
.buy-sell .item .trade-table .tbody dl dd:first-of-type i{
    font-weight: 800;
    font-family:PingFang-SC-Heavy;
    color: #282B3E;
}
.buy-sell .item .trade-table .tbody dl dd span{
    display: inline-block;
}
.buy-sell .item .trade-table .tbody dl dd i{
    display: inline-block;
    margin-left: 3px;
}
.buy-sell .trade-table .last button{
    position: absolute;
    right: 23px;
    top: 16.5px;
    width: 80px;
    height: 33px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 2;
    transition: all .5s ease;
}
.buy-sell .trade-table .last button.sell{
    background-color: #FF695A;
}
.buy-sell .trade-table .last button.buy{
    background-color: #00A758;
}
.buy-sell .trade-table .last button.sell:hover{
    border-color: #FF695A;
    color: #FF695A;
    background-color: #ffffff;
}
.buy-sell .trade-table .last button.buy:hover{
    border-color: #00A758;
    color: #00A758;
    background-color: #ffffff;
    
}