.trans-stock-right-wrapper{
    width: 100%;
}
.view-main{
    width: 1590px;
    margin: 61px auto 0px;
    padding-top: 76px;
}

.view-main .top p{
    font-size: 45px;
    line-height: 42px;
    font-family:PingFang-SC-Regular;
    color: #282B3E;
}
.view-main .top .see-total-content{
    margin-top: 46px;
    position: relative;
}
.view-main .top .see-total-content span{
    font-weight:500;
    font-size: 20px;
    line-height: 21px;
    font-family:PingFang-SC-Medium;
    color: #282B3E;
}
.view-main .top .see-total-content a{
    float: right;
    font-size:16px;
    line-height: 16px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color: #01A75B;
}

/* 列表 */
.view-main .group{
    margin-bottom: 90px;
}
.view-main .group .item-list{
    margin-top: 67px;
    overflow: hidden;
}
.view-main .group .item-list:nth-of-type(2){
    margin-top: 46px
}
.view-main .group .item-list .row {
    overflow: hidden;
}
.view-main .group .item-list .row{
    float: left;
    width: 235px;
    padding:50px 28px 18px 28px;
    border: 1px solid rgba(0,167,88,0.3);
    background-color:rgba(255, 255, 255 , 0.3);
    margin-right: 36px;
}
.view-main .group .item-list .row:last-child{
    margin-right: 0px;
}
.view-main .group .item-list .row .item .img-box{
    line-height: 1;
    text-align: center;
}
.view-main .group .item-list .row .item .img-box img{
    display: inline-block;
    height: 94px;
    width: 94px;
    background-color: skyblue;
}
.view-main .group .item-list .row .item .img-box span{
    display: block;
    height: 100%;
    font-size: 24px;
    line-height: 23px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    padding-top: 27px;
    margin-left: 99px;
}
.view-main .group .item-list .row .item .middle{
    margin-top: 56px;
}

.view-main .group .item-list .row .item .middle p{
    font-size:16px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    line-height: 16px;
    color: #282B3E;
}
.view-main .group .item-list .row .item .middle .content{
    margin-top: 23px;
}

.item-list .row .item .middle .content{
    line-height: 1;
}
.item-list .row .item .middle .content span{
    display: block;
    font-size:14px;
    font-family:PingFang-SC-Bold;
    font-weight: bold;
    line-height: 24px;
    color: #282B3E;
}

.item-list .row .item .middle .content span:first-child{
    font-weight: 500;
}


.item-list .row .item .middle .new-price{
    margin-top: 15px;

}
.item-list .row .item .middle .new-price span{
    display: block;
    font-size:14px;
    font-family:PingFang-SC-Bold;
    font-weight:500;
    line-height: 1;
}
.item-list .row .item .middle .new-price span:last-child{
    font-weight: bold;
    color: #00A758;
    margin-top: 8px;
}

.view-main .item-list .row .item .btn-or-more-box{
    margin-top: 27px;
}

.item-list .row .item .btn-or-more-box button{
    display: block;
    width: 100%;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00A758;
    border:1px solid rgba(0,167,88,1);
    transition: all .5s ease;
}
.item-list .row .item .btn-or-more-box button:hover{
    color: #00A758;
    background-color: rgba(255, 255, 255 , 0);
}
.item-list .row .item .btn-or-more-box .see-more{
    margin-top: 19px;
    text-align: center;
    line-height: 1.1;
}
.item-list .row .item .btn-or-more-box .see-more a{
    display: inline-block;
    font-size: 12px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    line-height: 12px;
    color: #00A758;
}