header{
    background-color: #282B3E;
}
header .right-nav .nav-list ul li a{
    color: #ffffff;
}
header .right-nav .language span{
    color: #ffffff;
}
.trans-details-wrapper{
    width: 100%;
    
}
.company-details-group{
    position: relative;
    max-width: 1590px;
    padding-top: 76px;
    margin: 61px auto 0px;
}
.company-details-group .left-company-info{
    margin-right: 403px;
}
.company-details-group .left-company-info .company-name-logo{
    overflow: hidden;
}
.company-name-logo .img-box{
    height: 100px;
    width: 100px;
    border: 1px solid #707070;
    text-align: center;
    /* padding: 32px 23px; */
    float: left;
    position: relative;
}
.company-name-logo .img-box img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.company-name-logo .company-name-box{
    float: left;
    margin-top: 26px;
    vertical-align: top;
    margin-left: 22px;
}

.company-name-logo .name{
    display: block;
    line-height: 1;
}
.company-name-logo .name span{
    display: inline-block;
    font-size: 40px;
    line-height: 37px;
    color: #282B3E;
    
}
.company-name-logo .name span:first-of-type{
    font-weight:bold;
    font-size: 37px;
    vertical-align: top;
}
.company-name-logo .name span:last-of-type{
    font-weight: 400;
}
.company-name-logo .found-box{
    margin-top: 15px;
}
.company-name-logo .found-box span{
    display: inline-block;
    font-size:18px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    line-height: 18px;
    color: #282B3E;
    position: relative;
}
.company-name-logo .found-box span:nth-last-child(2){
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px ;
    margin-right: 8px;
}
.company-name-logo .found-box span:nth-last-child(2)::before,
.company-name-logo .found-box span:nth-last-child(2)::after{
    content: "";
    height: 12px;
    width: 1px;
    position: absolute;
    top: 3px;
    background-color: #909090;
}
.company-name-logo .found-box span:nth-last-child(2)::before{
    left: 0px;
}
.company-name-logo .found-box span:nth-last-child(2)::after{
    right: 0px;
}
.company-details-group .introduce-content{
    margin-top: 23px;
}
.company-details-group .introduce-content p{
    font-size:16px;
    font-weight:500;
    line-height:30px;
    font-family:PingFang-SC-Medium;
    color:#282B3E;
    
}

.company-details-group .right-link-inst{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 403px;
    padding-left: 121px;
    padding-top: 53px;
}
.company-details-group .right-link-inst a{
    display: inline-block;
    height: 45px;
    width: 200px;
    line-height: 45px;
    text-align: center;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    background-color: #ffffff;
    color: #00A758;
    border:1px solid rgba(46,188,79,1);
    transition: all .6s ease;
}
.company-details-group .right-link-inst a:hover{
    background-color: rgba(0,167,88,0.15)

}


/* 交易中心 */
.trade-center-group{
    margin-bottom: 70px;
    

}
.trade-center-group .title{
    /* max-width: 1590px;
    margin: 0 auto; */
    /* position: relative; */
    margin-top: 44px;
    border-bottom: 1px solid #D2D4D3;
}
.trade-center-group .title > div{
    max-width: 1590px;
    margin: 0 auto;
}
.trade-center-group .title > div span{
    display: inline-block;
    font-size:20px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    line-height: 20px;
    color: #00A758;
    padding-bottom: 10px;
    border-bottom: 2px solid #00A758;
    color: #00A758;
}
.trade-center-group .buy-sell{
    max-width: 1590px;
    margin: 0 auto;
    padding-top: 45px;
    overflow: hidden;
}
.trade-center-group .buy-sell .item{
    float: left;
    width: 758px;
    background-color: #ffffff;
}
.trade-center-group .buy-sell .buy{
    float: right;
}
.trade-center-group .buy-sell .item .spec{
    font-size:20px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(40,43,62,1);
    line-height:20px;
    padding-left: 14px;
}
.buy-sell .item .trade-table dl{
    overflow: hidden;
}
.buy-sell .item .trade-table dl dd{
    font-weight:500;
    font-size: 16px;
    line-height: 15px;
    font-family:PingFang-SC-Medium;
    color: #282B3E;
    float: left;
    text-align: right;
}
.buy-sell .item .trade-table dl dd{
    /* width: 209px; */
}
.buy-sell .item .trade-table dl dd:first-child{
    width: 200px;
    text-align: left;
}
.buy-sell .item .trade-table dl dd:nth-child(2){
    width: 83px;
}
.buy-sell .item .trade-table dl dd:nth-child(3){
    width: 232px;
}
.buy-sell .item .trade-table dl dd.last{
    width: calc(100% - (200px + 83px + 232px));
    padding-right:14px;
}

.buy-sell .item .trade-table .head{
    margin-top: 45px;
}
.buy-sell .item .trade-table .head dl dd{
    padding-bottom: 15px;
}
.buy-sell .item .trade-table .head dl dd:first-of-type{
    padding-left: 16px;
}
.buy-sell .item .trade-table .tbody{
    border-top: 1px solid rgba(228,228,228,0.8);
    border-bottom: 1px solid rgba(228,228,228,0.8);
}
.buy-sell .item .trade-table .tbody dl{
    position: relative;
    margin-top: 2px;
}
.buy-sell .item .trade-table .tbody dl:last-of-type{
    margin-bottom: 2px;
}
.buy-sell .item .trade-table .tbody dl dd{
    /* padding: 25px 0px; */
    height: 65px;
    line-height: 65px;
}
.buy-sell .item .trade-table .tbody dl dd:first-of-type{
    padding-left: 14px;
}
.buy-sell .item .trade-table .tbody dl dd.last{
    position: relative;
}
.buy-sell .item .trade-table .tbody dl .percent{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .6s ease;
    
}
.buy-sell .sell .trade-table .tbody dl .percent{
    background-color: rgba(255,105,90,0.08);
}
.buy-sell .buy .trade-table .tbody dl .percent{
    background-color: rgba(45,186,105,0.08);
}
.buy-sell .item .trade-table .tbody dl dd span,
.buy-sell .item .trade-table .tbody dl dd i{
    color: #282B3E;
}
.buy-sell .item .trade-table .tbody dl dd:first-of-type span,
.buy-sell .item .trade-table .tbody dl dd:first-of-type i{
    font-weight: 800;
    font-family:PingFang-SC-Heavy;
    color: #3A3A3A;
}
.buy-sell .item .trade-table .tbody dl dd span{
    display: inline-block;
}
.buy-sell .item .trade-table .tbody dl dd i{
    display: inline-block;
    margin-left: 3px;
}
.buy-sell .trade-table .last button{
    position: absolute;
    right: 14px;
    top: 16.5px;
    width: 80px;
    height: 33px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 2;
    transition: all .5s ease;
}
.buy-sell .trade-table .last button.sell{
    background-color: #FF695A;
}
.buy-sell .trade-table .last button.buy{
    background-color: #00A758;
}
.buy-sell .trade-table .last button.sell:hover{
    border-color: #FF695A;
    color: #FF695A;
    background-color: #ffffff;
}
.buy-sell .trade-table .last button.buy:hover{
    border-color: #00A758;
    color: #00A758;
    background-color: #ffffff;
    
}


.trans-details-wrapper .order-tab-group{
    width: 1592px;
    margin: 60px auto 97px;
}
.tab-nav-container ul{
    padding-left: 14px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D2D4D3;
}
.tab-nav-container ul li{
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    font-family:PingFang-SC-Bold;
    color: #282B3E;
    padding-bottom: 14px;
    position: relative;
    margin-right: 34px;
    cursor: pointer;
}
.tab-nav-container ul li:last-child{
    margin-right: 0px;
}
.tab-nav-container ul li.active{
    color: #00A758;
}
.tab-nav-container ul li.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: #00A758;
}
.table-container .table-box.hidd{
    display: none;
}
.table-container .table-box .no-data{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #282B3E;
}
.table-container .table-box .head{
    padding-bottom: 26px;
}
.table-container .table-box dl{
    overflow: hidden;
}
.table-container .table-box dl dd{
    float: left;
    font-weight:500;
    font-size: 14px;
    line-height: 14px;
    font-family:PingFang-SC-Medium;
    color: #282B3E;
    text-align: right;
}  
.table-container .table-box .tbody dl dd{
    height: 50px;
    line-height: 50px;
}
.table-container .table-box .tbody dl:nth-child(2n-1){
    background-color: rgba(210 , 212 , 211 , 0.1)
}


.table-container .table-box dl dd:first-child{
    width: 170px;
    text-align: left;
    padding-left: 14px;
}
.table-container .table-box dl dd:nth-child(2){
    width: 144px;
    text-align: left;
}
.table-container .table-box dl dd:nth-child(3){
    width: 70px;
    
}
.table-container .table-box dl dd:nth-child(4){
    width: 151px;
}
.table-container .table-box dl dd:nth-child(5){
    width: 182px;
}
.table-container .table-box dl dd:nth-child(6){
    width: 206px;
}
.table-container .table-box dl dd:nth-child(7){
    width: 162px;
}
.table-container .table-box dl dd:nth-child(8){
    width: 172px;
}
.table-container .table-box dl dd:nth-child(9){
    width: 162px;
}
.table-container .table-box dl dd:last-child{
    width: 173px;
    padding-right: 21px;
}
.table-container .finish-table dl dd:last-child{
    width: calc(100% - (170px + 144px + 70px + 151px + 182px + 206px + 162px + 172px))
}
.table-container .table-box dl dd.sell{
    color: #FF695A;
}
.table-container .table-box dl dd.buy{
    color: #00A758;
}
.table-container .table-box dl dd.revoke{
    color: #0F84FD;
    cursor: pointer;
}